---
layout: default
---

<div class="posts">
{% for post in paginator.posts %}
  <div class="post-header">
    <h2 class="h4">
      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
    </h2>

    <p class="smaller">Authored by {{ post.author | default: site.author.name }} on {{ post.date | date: "%B %-d, %Y" }}
  </div>

  <div class="post-content">
    {{ post.content }}
  </div>

  <hr class="push-center" />
{% endfor %}
</div>

<nav class="pagination align-center upper strong">
  <ul>
    {% if paginator.previous_page %}
    <li class="prev">
      {% if paginator.previous_page == 1 %}
      <a class="newer-posts" href="{{ site.baseurl | prepend: site.url }}">&lt; Prev</a>
      {% else %}
      <a class="newer-posts" href="{{ site.baseurl | prepend: site.url }}/page/{{paginator.previous_page}}">&lt; Prev</a>
      {% endif %}
    </li>
    {% endif %}

    <li class="w100">
      <ul>
        <li>
          <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        </li>
      </ul>
    </li>

    {% if paginator.next_page %}
    <li class="next">
      <a class="newer-posts" href="{{ site.baseurl | prepend: site.url }}/page/{{paginator.next_page}}">Next &gt;</a>
    </li>
    {% endif %}
  </ul>

</nav>
